/*styling for feedback header, Add feedback form PAGE, edit feedback form PAGE, feedback card*/
.main {
  width: 825px;
}
.add-feedback-header {
  background-color: var(--main-dark-blue);
  color: var(--white);
  padding: 15px;
  border-radius: 10px;
}

select {
  border: none;

  color: var(--white);
}
.add-feedback-header select#sort-category {
  background-color: transparent;
}
.add-feedback-header select#sort-category:hover {
  cursor: pointer;
}

.feedback-card {
  display: flex;
  padding: 15px;
  background-color: var(--white);
  border-radius: 10px;
}

.upvote-button-section {
  display: flex;
  flex-direction: column;
  background-color: var(--very-light-purple);
  border-radius: 10px;
  width: fit-content;
  height: 53px;
}
.upvote-button-section:hover,
.upvote-button:hover path {
  background-color: var(--violet-blue);
  color: var(--white);
  stroke: var(--white);
  cursor: pointer;
}

/*add feedback PAGE*/
.cancel-button {
  margin-right: 20px;
}

.delete-button {
  margin-right: 20px;
}

/* ipad size media query*/
@media (min-width: 768px) and (max-width: 1024px) {
  .feedback-card {
    display: flex;
    justify-content: space-between;
  }
}
/*mobile size media query*/

@media (max-width: 767px) {
  .feedback-page-form-container #add-feedback-form {
    width: 100%;
    margin: auto;
  }
  .buttons-container {
    flex-direction: column;
  }
  .buttons-container button {
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }

  .main {
    width: 100%;
  }
  .add-feedback-header {
    border-radius: 0px;
    margin-top: 137px;
  }
  #feedback-header-logo,
  #number-of-suggestions {
    display: none;
  }
  .add-feedback-header select#sort-category {
    width: 100%;
  }
  .feedback-card {
    width: 100%;
    margin: auto;
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
  .feedback-description {
    width: 100%;
    margin-bottom: 15px;
  }

  .upvote-button-section {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }

  .container.roadmap-page {
    margin-top: 0px !important;
  }
  /* Mobile size media query */
  /* Mobile size media query */
  @media (max-width: 767px) {
    .feedback-card {
      display: flex; /* Use flexbox for the feedback card */
    }

    .feedback-description {
      width: 100%;
    }

    .button-row {
      display: flex; /* Flexbox for button row */
      align-items: center; /* Center vertically */
    }

    .comment-button-section {
      justify-content: end;
    }

    .upvote-button {
      display: flex; /* Flex display for the button */
      align-items: center; /* Center vertically */
    }
  }
}
