.main {
  width: 825px;
}
.add-feedback-header {
  background-color: var(--main-dark-blue);
  color: var(--white);
  padding: 15px;
  border-radius: 10px;
}

select {
  border: none;

  color: var(--white);
}
.add-feedback-header select#sort-category {
  background-color: transparent;
}
.add-feedback-header select#sort-category:hover {
  cursor: pointer;
}

.feedback-card {
  padding: 15px;
  background-color: var(--white);
  border-radius: 10px;
}
