.feedback-detail {
  width: var(--desktop-container-width);
}

.comment-section {
  background-color: var(--white);
  margin-top: 20px;
  width: var(--desktop-container-width);
  border-radius: 10px;
}

.post-comment-section {
  background-color: var(--white);
  margin-top: 20px;
  width: var(--desktop-container-width);
  border-radius: 10px;
}

.comment-card {
  border-bottom: 1px solid rgb(232, 232, 232);
  padding-bottom: 20px;
  margin: 0px 15px;
}
.comment-card:last-of-type {
  border-bottom: none;
}

.reply-card {
  border-left: 1px solid rgb(232, 232, 232);
  border-bottom: none;
}
/* ipad size*/

@media (min-width: 768px) and (max-width: 1024px) {
  .feedback-detail {
    width: 100%;
  }

  .comment-section {
    width: 100%;
  }

  .post-comment-section {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .feedback-detail {
    width: 100%;
  }

  .comment-section {
    width: 100%;
  }

  .post-comment-section {
    width: 100%;
  }
}
