.feedback-detail {
  width: var(--desktop-container-width);
}

.comment-section {
  background-color: var(--white);
  margin-top: 20px;
  width: var(--desktop-container-width);
  border-radius: 10px;
}

.post-comment-section {
  background-color: var(--white);
  margin-top: 20px;
  width: var(--desktop-container-width);
  border-radius: 10px;
}

.reply-card {
  border-left: 1px solid rgb(232, 232, 232);
}

@media (max-width: 768px) {
  .feedback-detail {
    width: 100%;
  }

  .comment-section {
    width: 100%;
  }

  .post-comment-section {
    width: 100%;
  }
}
