.navbar {
  flex-direction: column;
  width: 255px;
}
.navbar .header {
  background-image: url(/assets/suggestions/desktop/background-header.png);
  background-repeat: no-repeat;
  color: var(--white);
  width: 255px;
  height: 137px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.navbar .tags,
.navbar .roadmap {
  background-color: var(--white);
  padding: 12px;
  padding-top: 20px;
  border-radius: 10px;
  width: 255px;
}
.navbar .roadmap {
  padding: 20px 20px 20px 18px;
}

select option {
  background-color: var(--white);
  color: var(--very-dark-blue);
}
option:hover {
  color: var(--violet);
}

#view {
  color: var(--violet-blue);
  text-decoration: underline;

  cursor: pointer;
  font-weight: 500;
}
#view:hover {
  color: var(--violet-blue-opacity);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    display: flex; /* Ensure it's a flex container */
    flex-direction: row; /* Align items in a row */
    justify-content: center; /* Center the items horizontally */
    align-items: center;
    width: 100%;
  }
  .navbar .header,
  .navbar .tags {
    margin-right: 12px; /* Adds horizontal space between items */
  }

  .app.container {
    display: flex;
    justify-content: center; /* Center the entire .app container content */
    padding-left: 25px;
    padding-right: 25px;
  }
  .main {
  }
}

/*phone size*/
@media (max-width: 767px) {
  .navbar {
    display: flex; /* Ensure it's a flex container */
    flex-direction: column; /* Align items in a row */
    width: 100%;
  }
}
