.upvote-button-roadmap {
  background-color: var(--very-light-purple);
  border-radius: 10px;
  padding: 8px;
  font-weight: 500;
}

.road-map-content {
  margin-top: 50px;
}

.roadmap-card {
  border: none;
  border-top: 4px;
}

.orange-card {
  border-top: 4px solid #e48965;
}
.orange-card ul,
.roadmap .orange-bulletpoint {
  color: #e48965;
}

.purple-card {
  border-top: 4px solid var(--violet);
}
.purple-card ul,
.purple-bulletpoint {
  color: var(--violet);
}

.light-blue-card {
  border-top: 4px solid var(--light-blue);
}
.light-blue-card ul,
.blue-bulletpoint {
  color: var(--light-blue);
}

.roadmap-upvote-button .upvote-button {
  margin-right: 5px;
}

.roadmap-upvote-button:hover,
.roadmap-upvote-button:hover path {
  background-color: var(--violet-blue);
  color: var(--white);
  stroke: var(--white);
  cursor: pointer;
}

/*.mobile-version-tabs {
  display: none;
}*/

@media (max-width: 767px) {
  .roadmap-page .add-feedback-header {
    margin-top: 0px;
  }
  .road-map-content {
    margin-top: 20px;
  }
  .card.roadmap-card {
    max-width: 100%;
  }
  .add-feedback-header .go-back-roadmap-item {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .mobile-version-tabs {
    border-bottom: 0.5px solid var(--gray);
  }
  .mobile-version-tabs h3 {
    color: var(--gray);
    font-size: 1rem;
  }
  .mobile-version-tabs h3:hover {
    color: var(--main-dark-blue);
  }
  .planned-orange-tab:hover {
    border-bottom: 4px solid #e48965;
  }
  .progress-purple-tab:hover {
    border-bottom: 4px solid var(--violet);
  }
  .live-blue-tab:hover {
    border-bottom: 4px solid var(--light-blue);
  }
}
